<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">
			Copyright ...
		</section>
		<section class="col">
			Have a good day ...
		</section>
		<section class="col">
			Stay sayfe :)
		</section>
	</div>
</footer>